.flex-wrapper {
  max-width: 1256px;
  padding: 0 16px;
  margin: 0 auto;
}
.flex-login-form {
  display: flex;
  justify-content: center;
}
.login-box {
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 20%);
}

.login-forms button {
  padding: 10px;
}
.login-labels {
  text-align: left;
}
.error {
  color: red;
  padding: 20px 0 0 20px;
}
