.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .information-text {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.popup .information-text a {
  padding-top: 10px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #4caf50;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.notifiation {
  background-color: #4caf50;
  display: flex;
  width: 10%;
  height: 250px;
  position: absolute;
  top: 150px;
  left: 0;
  opacity: 1;
  flex-direction: column;
  list-style-type: none;
  grid-gap: 0px;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
