.login-forms {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.grid-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}

/* Small devices only*/
@media (max-width: 539px) {
  .grid-blogs {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }
  .blogEntries {
    margin: 0 50px 0 50px;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  .grid-blogs {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}
/* Big devices only */
@media (min-width: 1084px) {
}

/* Extra small devices only*/
@media (max-width: 300px) {
  .grid-blogs {
    display: block;
  }
}
