.collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: white;
}

.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

button.closed:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
button.open:after {
  font-size: 1em;
  content: "\002D";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button {
  margin-top: 20px;
}
