div.profile-wrapper h4 {
  text-align: left;
  padding-bottom: 10px;
  color: black;
}

div.profile-wrapper p.deactivationInfo {
  text-align: left;
  padding-top: 20px;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4caf50;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "on";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "off";
  text-align: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div.flex-profile div.profile-wrapper {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 40px 0 40px;
  padding-right: 20px;
}
button {
  margin: 20px 0;
  padding: 10px 0;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");

:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 100%;
  margin: 10px 0px;
  position: relative;
}
input {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border: 0;
  padding: 7px;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.effect-3 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 99;
}
.effect-3 ~ .focus-border:before,
.effect-3 ~ .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-3 ~ .focus-border:after {
  left: auto;
  right: 0;
}
.effect-3:focus ~ .focus-border:before,
.effect-3:focus ~ .focus-border:after {
  width: 50%;
  transition: 0.4s;
}

.img-holder > .profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #4caf50;
}

.flex-profile {
  display: flex;
  margin: 0 20px;
}
div.flex-profile div.image-wrapper {
  flex: 0 0 50%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input#upload-img {
  display: none;
}
div.image-wrapper div.label {
  margin-top: 20px;
}
div.image-wrapper div.label label.image-upload {
  margin: 0;
}

.flex-profile .username {
  margin-top: 30px;
}

/* Small devices only*/
@media (min-width: 251px) and (max-width: 539px) {
  .flex-profile {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  div.flex-profile div.profile-wrapper {
    padding: 10px 20px;
    width: 100%;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  .flex-profile {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  div.flex-profile div.profile-wrapper {
    padding-right: 0;
    width: 100%;
    align-items: center;
  }
  div.flex-profile div.profile-wrapper .username {
    width: 60%;
  }
  div.flex-profile div.profile-wrapper .password {
    width: 60%;
  }
  div.flex-profile div.profile-wrapper button {
    width: 60%;
  }
}

@media (max-width: 250px) {
  h1.profileTitle {
    font-size: 0.9em;
  }
  .flex-profile {
    flex-direction: column-reverse;
    padding-left: 0;
  }
  div.flex-profile div.profile-wrapper {
    padding: 10px 20px;
    width: 100%;
  }
  .img-holder > .profile-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #4caf50;
  }
}
