* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
  padding-top: 40px;
}

html {
  min-height: 100vh;
}

a {
  color: -webkit-link;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Damion", cursive;
  font-weight: 400;
  color: #4caf50;
  text-align: center;
  position: relative;

  max-width: 700px;
}
h1 {
  font-size: 35px;
  margin: 100px auto;
}
h2 {
  font-size: 35px;
  margin: 100px auto;
}
h3 {
  font-size: 1.9em;
}

h1.line:before,
h2.line:before {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background: #4caf50;
  left: 0;
  top: 50%;
  position: absolute;
}
h1.line:after,
h2.line:after {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background: #4caf50;
  right: 0;
  top: 50%;
  position: absolute;
}

h1 i,
h2 i,
h3 i {
  font-style: normal;
  position: relative;
  padding: 10px;
}

.flex-comment-area {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.flex-comment-area button {
  margin: 20px 0;
}
.flex-comment-area input {
  margin: 0 0 10px 0;
  padding: 5px;
}

.flex-comment-area .comment-labels {
  text-align: left;
}

.comment-forms {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}
.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}
.main-nav ul.main-menu li {
  padding: 0 10px;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid white;
}
button:hover {
  cursor: pointer;
}

.login-form-container {
  max-width: 1256px;
  padding: 0 16px;
  margin: 0 auto;
}

.flex-wrapper {
  max-width: 1256px;
  padding: 0 16px;
  margin: 0 auto;
}

.flex-login-form {
  display: flex;
  justify-content: center;
}
.login-box {
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 20%);
}

.login-labels {
  text-align: left;
}

/* Small devices only*/
@media (max-width: 539px) {
  body {
    padding-top: 0px;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  body {
    padding-top: 0px;
  }
}

/* Big devices only */
@media (min-width: 1084px) {
  .container {
    display: block;
    max-width: 1400px;
    width: 94%;
    margin: auto;
  }
}
