.flex-comment-list {
  margin: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  /* border-right: 4px solid red; */
  text-align: left;
  width: 95%;
  background-color: white;
}

.flex-comment-list div {
  padding: 5px;
}

.comment-list-name {
  text-decoration: underline;
}

.flex-title {
  display: flex;
  justify-content: space-between;
}

.flex-title p {
  color: #000;
}
.creation-date {
  padding-right: 10px;
}

.flex-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 200px 0 200px;
}

.delete-option {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 0;
  width: 5%;
  background-color: red;
}
.foreign-comment {
  margin: 10px 10px 10px 0;
  width: 5%;
}

.delete-option:hover {
  cursor: pointer;
}

/* Small devices only*/
@media (max-width: 539px) {
  .flex-area {
    width: 100%;
    padding: 0 20px 0 20px;
  }
  .flex-title {
    flex-direction: column-reverse;
  }
  .flex-title p {
    text-align: left;
  }
  .flex-title p:last-child {
    padding-bottom: 20px;
  }
  .flex-comment-list {
    width: 80%;
  }
  .delete-option {
    width: 15%;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  .flex-area {
    width: 100%;
    padding: 0 50px 0 50px;
  }
}
/* Big devices only */
@media (min-width: 1084px) {
}
