.flex-wrapper {
  max-width: 1256px;
  padding: 0 16px;
  margin: 0 auto;
}
.flex-login-form {
  display: flex;
  justify-content: center;
}
.login-box {
  width: 70%;
  margin: 20px;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 20%);
  background-color: white;
}

.login-forms button {
  padding: 10px;
}

.login-forms input {
  border-radius: 2px;
  border: 1px solid #dfdcdc;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #666;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
}
.select-wrapper::before {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
}

.uploadedImage {
  max-width: 100%;
  background-size: cover;
  padding: 0 20px 0 20px;
}

/* Small devices only*/
@media (max-width: 539px) {
  .login-box {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
  .login-forms {
    margin: 10px 20px;
  }
  .TextEditor {
    margin-bottom: 20px;
  }
  h1.line:before {
    display: none;
  }
  h1.line:after {
    display: none;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  .login-box {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
  h1.line:before {
    width: 90px;
  }
  h1.line:after {
    width: 90px;
  }
}
/* Big devices only */
@media (min-width: 1084px) {
}

/* Small devices only */
@media (max-width: 280px) {
  .login-forms {
    margin: 0 10px 0 10px;
  }
}
