.navbar {
  background-color: #4caf50;
}

.navbar .nav-container {
  display: block;
  max-width: 1400px;
  width: 94%;
  margin: auto;
}
.nav-container .main-nav {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}
.nav-container .main-nav ul {
  display: flex;
  list-style: none;
}

.nav-container .main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
  align-items: center;
}
.nav-container .main-nav ul.main-menu li {
  padding: 0 10px;
}

div.login {
  padding: 5px 20px;
  background-color: #4caf50;
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 5px;
}
div.login a {
  color: #fff;
  font-weight: 500;
}
div.signup {
  padding: 5px 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}
div.signup a {
  color: #4caf50;
  font-weight: bold;
}
div.option a button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #644624;
  margin: 20px;
  color: #4caf50;
  font-weight: bold;
}
.main-nav ul li a {
  color: #fff;
}

.nav-options p {
  color: #fff;
}

.nav-options img.navigation-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

/* Small devices only*/
@media (max-width: 620px) {
  .main-nav ul li a:hover {
    color: #4caf50;
  }
  .option a {
    color: black;
  }
  li:nth-child() {
    border-bottom: none;
  }
  .main-nav {
    margin-bottom: 50px;
  }
  .main-nav ul.main-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }

  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .main-nav .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 118px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    margin: 0;
  }
  .main-nav .nav-options.active {
    left: 0;
    opacity: 1;
    transition: all 1s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    transform: translate(-0px, 0px);
    background-color: #a09d9d;
    height: 105%;
  }
  .main-nav .nav-options.loggedOut {
    height: 200px;
  }
  .main-nav .nav-options.loggedIn {
    height: 320px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  li.option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
    position: relative;
  }
  li.option:after {
    bottom: 0;
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: #4caf50;

    position: absolute;
  }
  li.option:nth-last-child(-n + 2)::after {
    background: none;
  }
  .option .sign-up {
    background: #4caf50;
    color: white;
    padding: 20px 0px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
  }
  .sign-in {
    color: #4caf50;
  }

  .signin-up {
    display: none;
  }
  .menu-icon {
    cursor: pointer;
  }
}

/* Medium devices only*/
@media (min-width: 621px) and (max-width: 1083px) {
  .mobile-menu {
    display: none;
  }
  .mobile-option {
    display: none;
  }
  .main-nav ul.main-menu .option {
    font-size: 0.75em;
  }
  .main-nav .option p {
    font-size: 0.75em;
  }
}

/* Big devices only */
@media (min-width: 1084px) {
  .mobile-menu {
    display: none;
  }
  .mobile-option {
    display: none;
  }
}

/* Extra small devices only*/
@media (max-width: 250px) {
  li.option:after {
    bottom: 0;
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    background: #4caf50;

    position: absolute;
  }

  .main-nav > a > img {
    width: 60%;
  }

  .main-nav .nav-options {
    top: 72px;
  }
}
