.hero-image {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background: url(../../img/csm_Trailrunning_Sommer_2018__C_ChristianEgelmair__7__9797bb368e.jpg)
    no-repeat;
  background-size: cover;
  height: 35em;
  margin-bottom: 50px;
  background-position: center center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.home-box-ziel {
  box-shadow: 10px 20px 15px silver;
  background-color: #fffaf6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.grid-blogger {
  width: 100%;
  /* margin: 50px 0; */
  align-items: center;
  justify-items: center;
  padding-bottom: 50px;
}

.placeholder-man {
  width: 100%;
  background: url(../../img/man.jpg) no-repeat;
  background-position: center center;

  background-size: cover;
  height: 15em;
  margin-bottom: 50px;
}
.blogger {
  width: 50%;
  padding-top: 50px;
}

.home-box-content {
  padding: 0px 30px 10px 30px;
}

.blogger p.bloggerName {
  font-weight: 700;
  padding-bottom: 15px;
}

h1.founders {
  margin: 70px 0 0 0;
}

/* Small devices only*/
@media (min-width: 351px) and (max-width: 539px) {
  .grid-blogger {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40 px;
  }
  .home-box-ziel {
    width: 75%;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  .hero-image {
    min-width: 100%;
  }
  .grid-blogger {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40 px;
  }
  .placeholder-man {
    height: 15em;
  }
}

/* Big devices only */
@media (min-width: 1084px) {
  .hero-image {
    min-width: 100%;
  }
  .grid-blogger {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40 px;
  }
}

/* Really Small devices only*/
@media (max-width: 350px) {
  .grid-blogger {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 40 px;
  }
  .blogger {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
  }
  .blogger:last-child {
    border-bottom: none;
  }
  .home-box-ziel {
    width: 90%;
  }
}
