form > button {
  margin-top: 0;
  margin-left: 20px;
  padding: 5px 10px 5px 5px;
  border: 3px solid #d11a2a;
  color: #d11a2a;
  background-color: white;
}
form > button:hover {
  cursor: pointer;
}

form > button i {
  margin: 0 10px;
}
