input.imageSelector {
  display: none;
}

div.label > label.image-upload {
  margin-left: 20px;
  padding: 5px 10px 5px 5px;
  border: 3px solid #4caf50;
  color: #4caf50;
}

div.label > label.image-upload:hover {
  cursor: pointer;
}

div.label > label.image-upload i {
  margin: 0 10px;
}

.filename {
  display: none;
}

div.output {
  margin-right: 40px;
}
/* Small devices only */
@media (max-width: 280px) {
  label.image-upload i {
    display: none;
  }

  div.label > label.image-upload {
    margin-left: 0;
    padding: 0;
    border: none;
  }
}
