*,
*:before,
*:after {
  box-sizing: border-box;
}

header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #644624;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  padding-top: 50px;
}

.b-footer p {
  color: white;
}

.l-footer p {
  padding-right: 20%;
  color: white;
}

.r-footer li h3 {
  text-align: left;
}

.r-footer li a {
  color: white;
}

@media screen and (max-width: 200px) {
  footer p {
    font-size: 0.5em;
  }
  footer h3 {
    font-size: 0.75em;
  }
  h3 img {
    display: none;
  }
}

/* Small devices only*/
@media (max-width: 539px) {
  .l-footer p {
    padding-right: 0;
  }
  .footer .r-footer > li {
    padding: 15px 0;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
  .r-footer > * {
    flex: 1;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}

/* Big devices only */
@media (min-width: 1084px) {
  .r-footer > * {
    flex: 1;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
