.flex-wrapper {
  max-width: 1256px;
  padding: 0 16px;
  margin: 0 auto;
}
.flex-login-form {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.login-box {
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 20%);
  padding: 50px 20px;
}

.login-forms .login {
  padding: 10px;
}

.login-form .signUp {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid black;
}

.login-labels {
  text-align: left;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 0;
  padding: 5px 0;
}

.i i {
  transition: 0.3s;
  padding-top: 10px;
}
.i {
  color: #4caf50;
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 40px 0 40px;
}
button {
  margin: 20px 0;
  padding: 10px 0;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}
.info {
  color: black;
}

@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");

:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 100%;
  margin: 10px 0px;
  position: relative;
}

.login-forms input {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.effect-1 {
  border: 0;
  padding: 7px;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}

.effect-3 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 99;
}
.effect-3 ~ .focus-border:before,
.effect-3 ~ .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-3 ~ .focus-border:after {
  left: auto;
  right: 0;
}
.effect-3:focus ~ .focus-border:before,
.effect-3:focus ~ .focus-border:after {
  width: 50%;
  transition: 0.4s;
}

.forgotPassword a:hover {
  font-weight: bold;
}
.forgotPassword p a {
  color: #4caf50;
  font-size: 0.8em;
}

.forgotPassword p {
  text-align: right;
}

@media (min-width: 291px) and (max-width: 620px) {
  .input-div {
    grid-template-columns: 10% 90%;
  }
  .imgcontainer img {
    margin: 0;
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 290px) {
  .input-div {
    grid-template-columns: 10% 90%;
  }
  .imgcontainer img {
    margin: 0;
    width: 50%;
    height: 50%;
  }
  .login-forms .input-div .i i {
    display: none;
  }
}
