.personalBlogEntries {
  background-color: rgb(252, 249, 249);
  -webkit-box-shadow: 9px 9px 21px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 9px 9px 21px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 9px 9px 21px 0px rgba(0, 0, 0, 0.36);
  margin: 20px;
  border-radius: 20px;
  color: black;
  padding-bottom: 10px;
  padding: 20px 0;
}

.blogEntry h4 {
  color: red;
}

.blogEntry h3,
p,
h4 {
  text-align: center;
}

p.category {
  color: black;
}

.image {
  width: 100%;
  height: 12em;
  margin-bottom: 50px;
  border-radius: 20px 20px 0px 0px;
}

.soccer {
  background: url("../../img/Soccer.jpg");
  background-size: cover;
}
.hockey {
  background: url("../../img/Hockey.jpg");
  background-size: cover;
}
.running {
  background: url("../../img/csm_emsa-blog-warum-sport-das-richtige-ist-titelbild_68eb4f2bfd.jpg");
  background-size: cover;
}
.cycling {
  background: url("../../img/Cycling.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
}

.personalBlogEntries i {
  font-size: 3em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* Small devices only*/
@media (max-width: 539px) {
  div.personalBlogEntries {
    margin: 10px;
    border-radius: 20px;
    color: black;
    padding-bottom: 10px;
    width: 80%;
    justify-content: center;
  }
  .personal-grid-blogs a {
    display: flex;
    justify-content: center;
  }
}

/* Medium devices only*/
@media (min-width: 540px) and (max-width: 1083px) {
}
/* Big devices only */
@media (min-width: 1084px) {
}
