div.remove-label > label.remove-blog {
  margin-left: 20px;
  padding: 5px 10px 5px 5px;
  border: 3px solid #c70000;
  color: #fff;
  background-color: #c70000;
}
div.remove-label > label.remove-blog:hover {
  cursor: pointer;
}

div.remove-label > label.remove-blog i {
  padding: 5px 10px;
}

div.remove-label {
  display: flex;
  justify-content: center;
}

@media (max-width: 250px) {
  div.remove-label > label.remove-blog {
    margin-left: 0;
    padding: 5px 10px 5px 5px;
    margin-bottom: 20px;
  }
}
