h3,
h4 {
  text-align: center;
}
div .blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding-top: 50px;
}

div .blogTitle {
  font-size: 3em;
  line-height: 2em;
  margin: 0.3em 0.3em 1em 0.3em;
  color: #d96b5c;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px,
    rgba(255, 255, 255, 0.5) 2px 2px, rgba(0, 0, 0, 0.3) -1px -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

div .blogTitle > h3 {
  padding-bottom: 50px;
}

div .blogImage {
  min-width: 50%;
  max-width: 100%;
  background-size: cover;
}

@media (max-width: 300px) {
  .blogTitle > h3 {
    font-size: 0.75em;
    
  }
}
