.flex-comment-area {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 200px 0 200px;
}

.flex-comment-area button {
  margin: 20px 0;
}
.flex-comment-area input {
  margin: 0 0 10px 0;
  padding: 5px;
}

.flex-comment-area .comment-labels {
  text-align: left;
}

.comment-forms {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}
.author {
  height: 1.5em;
}

.new-comment {
  height: 200px;
}

@media (max-width: 800px) {
  .flex-comment-area {
    padding: 0 50px;
  }
}
