.width {
  margin-left: 20%;
  margin-top: 50px;
}
.editorClassName {
  border-radius: 2px;
  border: 1px solid #dfdcdc;
}
.wrapperClassName .rdw-editor-toolbar {
  border-radius: 2px;
  border: 1px solid #dfdcdc;
}
